Develop a simple website that lists superheroes from an API.

(Register for free API access here https://superheroapi.com/index.html)

• Use Vue js to build the website (VueCLI, NUXT.js) or similar
• You can use any framework (Bootstrap, Bulma etc.) for your components

Features
•	Implement a login function to the site. Use Firebase or similar for authentication
•	Implement a search function for logged in users to search through the superheroes

Bonus
•	Implement a filter on the site where logged in users can filter through 
the superheroes using the powersats provided by the API 
(speed, power, strength etc.) Example: A slider which filters superheroes by their power.